@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@media all{
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

h1{ font-family: 'Concert One', cursive;
    font-size: max(18px,6vw); text-align: center; color: #023047;}

h2,input{font-family: 'Courier New', Courier, monospace; font-weight: bold;
    font-size: max(14px,3vw); text-align: center; color: #023047;}

body{ background-color: black;}

header{
    display: flex; justify-content: space-between;
    width: 100vw;    height: 20vh;
    background-color: #FD9E02;}
    .title{display: flex; justify-content: center; align-items: center;
            width: 70%;}
    header img{ width: 30%; height: 20vh;}

section{ display: flex; flex-direction: column; align-items: center;
        background-color: #219ebc;
        padding: 5vh 5vh;}

    .hangman__container{ display: flex; flex-direction: column; 
                        justify-content: center; align-items: center;
                        background-color: blanchedalmond; border-radius: 4vh;
                        height: 40vh; width: 60vw; margin:2vh}
        .hangman__container img{height: 100%;}
        #img0{display: flex;}
        #img1{display: none;}
        #img2{display: none;}
        #img3{display: none;}
        #img4{display: none;}
        #img5{display: none;}
        #img6{display: none;}
        

    .word{ display: flex; width: 60vw; height: 20vh; padding: 1vh; margin: 1vh;
            background-color: chartreuse;}

    .resolve__container{ display: flex; width: 60vw; justify-content: center; padding: 1vh; margin: 1vh;}
    
    .button__text{ width: 80%;}
        #input__text, #button__check{width: 90%; height: 5vh; border-radius: 1vh; border-color: #023047; border-width: 0.5vh;}
        #button__check{background-color: #126782;font-size: max(14px,2vw);}
    .button__check{ width: 20%;}

footer{ background-color: #023047;
        height: 15vh;}

}
